.main-header {
  max-width: 1200px;
  background-color: var(--dark-color);
  position: relative;
  position: sticky;
  top: 0;
  margin: 0 auto;
}

.main-nav {
  height: 5.75em;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .main-brand {
    &__logo {
      font-family: var(--heading-font);
      font-size: 1.75em;
      font-weight: 800;
      letter-spacing: 1.3px;
      color: var(--theme-color);
      text-decoration: none;
      line-height: 2;
      padding: 0.5em 0;

      & span {
        color: var(--light-color);
      }
    }
  }

  & .main-menu {
    @include reset-list;
    width: 100%;
    background-color: var(--dark-color);
    position: absolute;
    top: 5.7em;
    left: 0;
    display: none;
    transition: all 10s ease-in-out;

    &__item {
      border-top: 1px solid var(--border-color);
      font-family: var(--heading-font);
      line-height: 2;

      &:last-child .main-menu__link {
        display: none;
      }
    }

    &__link {
      min-width: 100%;
      color: var(--light-color);
      font-size: 0.94em;
      font-weight: 600;
      letter-spacing: 1px;
      padding: 0.75em 1em;
      transition: all 0.3s ease-in;
      display: flex;

      &:hover {
        color: var(--theme-color);
        text-decoration: none;
        padding-left: 1.4rem;
      }
    }

    &.show {
      display: block;
    }
  }
}

/* Icono de Hamburguesa */
.main-menu-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 0.7em 0em 0.7em 0.7em;

  & .bar {
    width: 2em;
    height: 0.2em;
    background-color: var(--theme-color);
    border-radius: 1em;
    transition: all 0.4s ease-in;

    &:first-child {
      width: 50%;
      align-self: flex-end;
    }

    &:nth-child(2) {
      margin: 5px 0;
    }

    &:last-child {
      width: 50%;
      align-self: flex-start;
    }
  }

  &.rotate {
    & .bar {
      transform: rotate(45deg);
      position: relative;

      &:first-child {
        transform: rotate(135deg);
        top: -3px;
        right: 3px;
      }

      &:nth-child(2) {
        margin: 0;
      }

      &:last-child {
        transform: rotate(135deg);
        left: 2px;
        top: 2px;
      }
    }
  }
}

@media (min-width: 992px) {
  .main-header {
    background-color: transparent;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;

    & .main-menu {
      position: initial;
      display: flex;
      justify-content: flex-end;
      background-color: transparent;

      &__item {
        border-top: none;

        &:last-child .main-menu__link {
          display: block;
          color: var(--theme-color);
          border: 1px solid var(--theme-color);
          border-radius: 0.25em;
          padding: 0.5em 1.2em;

          &:hover {
            background-color: var(--theme-color);
            color: var(--light-color);
          }
        }
      }

      &__link {
        min-width: 100%;

        &:hover {
          padding-left: 1em;
        }
      }
    }
  }

  /* Icono de Hamburguesa */
  .main-menu-toggle {
    display: none;
  }
}
