nav.main-nav(itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation")#main-nav
  div.main-brand
    a(href="/").main-brand__logo
      span K
      |anory

  ul.main-menu#main-menu
    each page in pages
      li.main-menu__item(itemprop="url")
          a.main-menu__link(href=page.url itemprop="name")= page.title
            if page.child.length > 0
              ul 
                each page2 in page.child
                  li: a(href= page2.url)= page2.title

  .main-menu-toggle#main-menu-toggle
    span.bar
    span.bar
    span.bar
