-let pageTitle = 'Home'
-let siteName = 'Kanory - Personal Portafolio'
-let twitterAccount = '@nhuamanic'
-let pageDescription = 'Kanori is a landing page of a personal portfolio, used to create a personal brand.'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Home',
      url: '/',
      child: []
    },
    {
      title: 'About',
      url: '#about',
      child: []
    },
    {
      title: 'Services',
      url: '#services',
      child: []
    },
    {
      title: 'Resume',
      url: '#resume',
      child: []
    },
    {
      title: 'Portfolio',
      url: '#portfolio',
      child: []
    },
    {
      title: 'Blog',
      url: '#blog',
      child: []
    },
    {
      title: 'Contact',
      url: '#contact',
      child: []
    },
    {
      title: 'Contact Me',
      url: '#contact',
      child: []
    }
  ]
